<% stars = product.get_stars
if !stars.blank? %>
<div class="ratings">
  <p><%= t('average_customer_rating') %>: </p>
  <div id="star" data-rating="<%= stars[:star] || 0 %>"></div>
  <!--<p>
    <span title="<%# txt_stars(stars[0]) %>">
      <%# render :partial => "reviews/stars", :locals => {:stars => stars[0]} %>
    </span>
  </p>-->
  <p>(<%= t('based_upon') %> <%= stars[:rcount] %> <%= t('reviews') %>)</p>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="<%= stars[:star] %>" />
    <meta itemprop="reviewCount" content="<%= stars[:rcount] %>" />
  </div>
</div>
<% end %>
<script type="text/javascript">
<!--//
	jQuery(document).ready(function() {
		$("#star").raty({
		  readOnly: true,
		  half:  true,
		  width: 180,
		  path: '/assets/'
		});
	});
//-->
</script>
