<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
	<meta itemprop="reviewRating" content="<%= review.rating %>" />
	<% if Spree::Config[:show_email] && review.user %>
	<span itemprop="author"><%= review.user.email %></span>
	<% else %>
	<span itemprop="author"><%= raw review.name %></span>
	<% end %>
	<span class="attribution"><%= t('submitted_on') %> <strong itemprop="datePublished"><%= l review.created_at.to_date %></strong></span>
	<div itemprop="reviewBody">
		<%= raw simple_format(review.review) %>
	</div>
	<% if Spree::Config[:feedback_rating] && (!Spree::Config[:require_login] || current_user) %>
	<div class="feedback_review" id="feedback_review_<%= review.id %>">
		<%= render :partial => "feedback_reviews/form", :locals => {:review => review} %>
	</div>
	<% end %>
</div>
