<div id="reviews">
	<%#= render :partial => 'spree/shared/rating', :locals => {:product => @product} %>
	<% for review in @product.reviews.approved.limit(3) %>
		<%= render :partial => 'spree/shared/review', :locals => {:review => review} %>
	<% end %>
	<div class="pagination">
		<div class="results">Mostra 1 su 1 di 1 (1 Pagina)</div>
	</div>
	<% if !Spree::Config[:require_login] || current_user %>
		<% if !Spree::Config[:form_show] %>
			<%= link_to(t('write_your_own_review'), new_product_review_path(@product), :class => "button-review", :rel => "nofollow,noindex") %>
		<% else %>
			<%= render "spree/reviews/new", :review => Spree::Review.new(:product => @product), :product => @product %>
		<% end %>
	<% end %>
	<div id="new_review"></div>
	<span class="clear"></span>
</div>
<%= javascript_include_tag 'store/review/index.js' %>
<%= javascript_include_tag 'store/review/new.js' %>